@font-face{
  font-family: BaronNeue;
  src: url(fonts/Baron\ Neue/Baron\ Neue.otf);
}

/* STYLE BODY */
body {
  margin: 0;
  color: white;
  font-family: 'BaronNeue';
  width: 100%;
  height: 100%;
  background-color: #354B77;
}

/* STYLE DIV GERAL */
.equipe {
  background-color: #354B77;
  width: 100%;
  height: 100%;
}

/* STYLE TITULO */
#conhecaNossaEquipe {
  opacity : 1;
  margin-top: 3%;
  transition : opacity 2s;
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* STYLE ICON TITULO */
#greenMark {
  background-color: #47C647;
  width: 5px;
  height: 35px;
  margin-top: 8px;
}

#titulo {
  margin-left: 10px;
  margin-top: 0;
  font-size: 45px;
}

/* STYLE CARROSSEL */
.carousel {
  display: flex;
  flex-direction: row;
  justify-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

/* STYLE DIV DE CADA PESSOA */
.pessoa {
  display: flex !important;
  flex-direction: column;
  width: 400px !important;
  height: 80% !important;
  align-items: center;
  justify-items: center !important;
  text-align: center;
  margin: 0;
}


/* STYLE IMAGEM */
.photo img {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 30%;
  border-radius: 60%;
}

/* SYLE IMAGEM */
.photo {
  display: flex;
  justify-content: center;
}

/* STYLE NOME + FUNÇÃO */
.name P {
  margin-bottom: 0;
  padding: 0;
  text-align: center;
}

/* STYLE NOME */
.nome {
  font-size: 35px;
}

/* STYLE FUNÇÃO */
.função {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-size: 25px;
}

/* STYLE DESCRIÇÃO DA FUNÇÃO */
.function {
  justify-content: center;
  width: 50%;
  /* font-size: 18px; */
  text-align: center;
}

#descricao p {
  text-align: center;
  justify-content: center;
  font-size: 18px;
}

@media only screen and (max-width: 750px) {
  .carousel {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
  }

  #greenMark {
    background-color: #47C647;
    width: 5px;
    height: 20px;
    margin-top: 3px;
  }

  #titulo {
    margin-left: 10px;
    margin-top: 0;
    font-size: 25px;
  }

  .nome {
    font-size: 25px;
  }

  .função {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-size: 18px;
  }

  .photo img {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 15%;
    border-radius: 60%;
  }
}

/* 
.slick-prev {
  margin-left: 40px;
}

.slick-next {
  margin-right: 40px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 100px;
  color: white;
} */

.slick-prev {
  margin-left: 7%;
  z-index: 1000;
  margin-bottom: 50px !important;
}

.slick-next {
  margin-right: 7%;
  z-index: 1000;
  margin-bottom: 50px !important;
}

.slick-prev:before,
.slick-next:before {
  font-size: 50px;
  color: white;
}