<!--Aqui é o contato-->
    <div id="contatoTudoFinal" style="background-image: url('{% static "imagens/contato/Trabalhadores2.jpg" %}');">
        <div id="contato1">
            <div id="title">
                <!-- ICONE DO TITULO -->
                <div id="greenMark"></div>
                <!-- TITULO -->
                <p id="contateNos">Contate-nos</p>
            </div>
            <div id="background"></div>
         <div id="campos">
                <form method="POST">
                    {% csrf_token %}<!--Necessario para reconhecer o form-->
                    <div id="camposDaEsquerda">
                        <input class="esquerda" type="text" nome="nome" placeholder="Nome*" required="required">
                        <input class="esquerda" type="text" nome="phone" placeholder="Telefone">
                        <input class="esquerda" type="email" nome="email" placeholder="E-mail*" required="required">
                        <input class="esquerda" type="text" nome="conheceu" placeholder="Como você conheceu a PETR-AM?">
                    </div>
                    <div id="camposDaDireita">
                        <input class="direita" type="text" nome="assunto" placeholder="Assunto">
                        <textarea class="direita" id="msg" nome="mensagem" placeholder="Deixe-nos uma mensagem!"></textarea>  
                    </div>
                    <button id ="enviar" type="submit">ENVIAR</button>
                </form>
            </div>
        </div>

        <!-- Contato 2 -->
        <div id="contato2">
            <div id="title">
                <!-- ICONE DO TITULO -->
                <div id="greenMark"></div>
                <!-- TITULO -->
                <p id="contateNos">Contate-nos</p>
            </div>
            <div id="background"></div>
            <div id="campos">
                <form method="POST">
                    {% csrf_token %}
                    <input class="esquerda" type="text" nome="nome" placeholder="Nome*" required="required">
                    <input class="esquerda" type="text" nome="phone" placeholder="Telefone">
                    <input class="esquerda" type="email" nome="email" placeholder="E-mail*" required="required">
                    <input class="esquerda" type="text" nome="conheceu" placeholder="Como você conheceu a PETR-AM?">
                    <input class="direita" type="text" nome="assunto" placeholder="Assunto">
                    <textarea class="direita" id="msg" nome="mensagem" placeholder="Deixe-nos uma mensagem!"></textarea>  
                    <button id ="enviar" type="submit">ENVIAR</button>
                </form>
            </div>
        </div>
    </div>