{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>PETR-AM Jr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'slick-1.8.1/slick/slick.css' %}"/>
</head>
<body>
    <!--NavBar-->
    <nav id="navBar">
        <!--Divs com os grupos de links para a movimentação-->
        <div id="navBarConjunto">
            <div class="navDiv" id="navDivLogo">
                <img src="{% static "imagens/navbar/petr-amnegativasemfundo.png" %}" id="navBarLogo">
            </div>
                <div class="navDiv">
                    <a href="">Sobre Nós</a>
                </div>
                <div class="navDiv">
                    <a href="">Equipe</a>
                </div>
                <div class="navDiv">
                    <a href="#servicos">Serviços</a>
                </div>
                <div class="navDiv">
                    <a href="">Contato</a>
                </div>
            <div class="navDiv" id="navDivBlog">
                <a href="">Blog</a>
            </div>
        </div>
    </nav>

    <!--Aqui é o banner-->
    <div id="banner">
        <!--div com o inside do banner-->
        <div id="bannerGroup">
            <div class="bannerScreen" style='background-image: url("{% static "imagens/banner/trabalhadores 1 web.jpg" %}");'>
            </div>
            <div class="bannerScreen" style='background-image: url("{% static "imagens/banner/Trabalhadores 2.jpg" %}");'>
            </div>
        </div>
    </div>

    <!--Aqui é o carrossel de serviços-->
    <div id="servicos">
        <div id="servicosDivTitulo">
            <h2 id="servicosTitulo">
                <div class="servicosBarrinha"></div>
                nossos serviços
            </h2>
        </div>
        <!--Div que receber o slick-->
        <div id="servicosGroup">
            <!--Screen1-->
            <div class="servicosScreen">
                <div class="servicosScreenCinza"></div>
                <div class="servicosScreenDivTitulo">
                    <p class="servicosScreenTitulo">Serviço 1</p>
                </div>
                <div class="serviçosScreenDivImg">
                    <img class="serviçosScreenImg" src="{% static "imagens/servicos/servicosImgTeste.jpg" %}">
                </div>
                <div class="serviçosScreenDivTexto">
                    <p class="servicosScreenTexto">Breve descrição do serviço. Breve descrição do serviço. Breve descrição do serviço. Breve descrição do serviço. Breve descrição do serviço.</p>
                </div>
                <div class="servicosScreenDivBtn">
                    <button class="servicosScreenBtn">Contratar</button>
                </div>
            </div>
            <!--Screen2-->
            <div class="servicosScreen">
                <div class="servicosScreenCinza"></div>
                <div class="servicosScreenDivTitulo">
                    <p class="servicosScreenTitulo servicosTexto">Serviço 2</p>
                </div>
                <div class="serviçosScreenDivImg">
                    <img class="serviçosScreenImg" src="{% static "imagens/servicos/servicosImgTeste.jpg" %}">
                </div>
                <div class="serviçosScreenDivTexto">
                    <p class="servicosScreenTexto">Breve descrição do serviço. Breve descrição do serviço. Breve descrição do serviço. Breve descrição do serviço. Breve descrição do serviço.</p>
                </div>
                <div class="servicosScreenDivBtn">
                    <button class="servicosScreenBtn">Contratar</button>
                </div>
            </div>
            <!--Screen3-->
            <div class="servicosScreen">
                <div class="servicosScreenCinza"></div>
                <div class="servicosScreenDivTitulo">
                    <p class="servicosScreenTitulo servicosTexto">Serviço 3</p>
                </div>
                <div class="serviçosScreenDivImg">
                    <img class="serviçosScreenImg" src="{% static "imagens/servicos/servicosImgTeste.jpg" %}">
                </div>
                <div class="serviçosScreenDivTexto">
                    <p class="servicosScreenTexto">Breve descrição do serviço. Breve descrição do serviço. Breve descrição do serviço. Breve descrição do serviço. Breve descrição do serviço.</p>
                </div>
                <div class="servicosScreenDivBtn">
                    <button class="servicosScreenBtn">Contratar</button>
                </div>
            </div>
            <!--Screen4-->
            <div class="servicosScreen">
                <div class="servicosScreenCinza"></div>
                <div class="servicosScreenDivTitulo">
                    <p class="servicosScreenTitulo servicosTexto">Serviço 4</p>
                </div>
                <div class="serviçosScreenDivImg">
                    <img class="serviçosScreenImg" src="{% static "imagens/servicos/servicosImgTeste.jpg" %}">
                </div>
                <div class="serviçosScreenDivTexto">
                    <p class="servicosScreenTexto">Breve descrição do serviço. Breve descrição do serviço. Breve descrição do serviço. Breve descrição do serviço. Breve descrição do serviço.</p>
                </div>
                <div class="servicosScreenDivBtn">
                    <button class="servicosScreenBtn">Contratar</button>
                </div>
            </div>
        </div>
    </div>

    <!--Footer-->
    <footer id="footer">
        <!--Esse é o grupo que ficam as coisas de cima do footer-->
        <div id="footerGrupoCima">
            <div id="footerConjunto">
                    <!--Telefone-->
                    <div class="footerIconText">
                        <img src="{% static "imagens/footer/call-answer.svg" %}">
                        <p class="footerTexto">+55 (92) 98230-9545</p>
                    </div>
                    <!--Email-->
                    <div class="footerIconText">
                        <img src="{% static "imagens/footer/mail.svg" %}">
                        <p class="footerTexto">ej.petram@gmail.com</p>
                    </div>
                    <!--Instagram-->
                    <div class="footerIconText footerIT">
                        <a href="https://www.instagram.com/petramjr/" target="_blank" class="footerLinkImg">
                            <img src="{% static "imagens/footer/instagram.svg" %}">
                        </a>
                        <a href="https://www.instagram.com/petramjr/" target="_blank" class="footerLT">
                            <p class="footerTexto">petramjr</p>
                        </a>
                    </div>
                    <!--Linkedin-->
                    <div class="footerIconText footerIT">
                        <a href="https://www.linkedin.com/company/petr-am/" target="_blank" class="footerLinkImg">
                            <img src="{% static "imagens/footer/linkedin.svg" %}">
                        </a>
                        <a href="https://www.linkedin.com/company/petr-am/" target="_blank" class="footerLT">
                            <p class="footerTexto">petr-am</p>
                        </a>
                    </div>
                </div>

                <!--Imagem da PETR-AM-->
                <div id="footerDivLogo">
                    <img src="{% static "imagens/footer/petr-amsemfundo.png" %}" id="footerLogo">
                </div>

                <!--Div que vai ter o maps-->
                <div id="footerMaps">
                    <div id="footerMapsDT">
                        <p class="footerTexto">UFAM - Av. General Rodrigo Octavio Jordão Ramos, 1200. Coroado I, Manaus/AM. 69067-005</p>
                    </div>
                    <div id="footerMap">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9475.55098205994!2d-59.978038728320456!3d-3.10039142377996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x926c052af27c2365%3A0x1d25daa968addbd5!2sUFAM+-+Universidade+Federal+do+Amazonas!5e0!3m2!1spt-BR!2sbr!4v1542848433813" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
        </div>
        
        <!--Grupo de baixo do footer-->
        <div id="footerGrupoBaixo">
            <!--Linha que separa o grupo de baixo do de cima-->
            <hr id="footerLinha">
            <!--copyRight-->
            <div class="footerDivTexto" id="footer1DT">
                <p class="footerTexto">Copyright © 2019 Petr-AM</p>
            </div>
            <!--Made with-->
            <div class="footerDivTexto" id="footer2DT">
                <p class="footerTexto">Made with &lt/&gt and </p>
                <img src="{% static "imagens/footer/heart.svg" %}" id="footerHeart">
            </div>
        </div>
    </footer>

    <!--JQuery-->
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <!--Slick banner aqui-->
    <script type="text/javascript" src="{% static 'slick-1.8.1/slick/slick.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#bannerGroup').slick({
                nextArrow: '<button type="button" id="bannerNext"><div id="bannerSetaR"></div></button>',
                prevArrow: '<button type="button" id="bannerPrev"><div id="bannerSetaL"></div></button>',
                infinite: true,
                autoplay: true,
                autoplaySpeed: 3000
            });
        });
    </script>
    <!--Slick Servicos aqui-->
    <script type="text/javascript">
        $(document).ready(function(){
            $('#servicosGroup').slick({
                nextArrow: '<button type="button" id="servicosNext"><img id="servicosSetaR" src="{% static "imagens/servicos/sNext.svg" %}"></button>',
                prevArrow: '<button type="button" id="servicosPrev"><img id="servicosSetaL" src="{% static "imagens/servicos/sPrev.svg" %}"></button>',
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                centerMode: true,
                draggable: false,
                responsive: [
                    {
                        breakpoint: 751,
                        settings:{
                            slidesToShow: 1,
                            nextArrow: '<button type="button" id="servicosNext"><img id="servicosSetaR" src="{% static "imagens/servicos/sNext.svg" %}"></button>',
                            prevArrow: '<button type="button" id="servicosPrev"><img id="servicosSetaL" src="{% static "imagens/servicos/sPrev.svg" %}"></button>',
                            infinite: true,
                            slidesToScroll: 1,
                            centerMode: true,
                            draggable: false,
                            centerPadding: '20px'
                        }
                    }
                ]
            });
        });
    </script>
    <script type="text/javascript" src="{% static 'scripts/main.js' %}"></script>
</body>
</html>