@font-face{
    font-family: BaronNeue;
    src: url(../fonts/Baron\ Neue/Baron\ Neue.otf);
}
.contato-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#contato1 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    min-height: 650px;
    max-height: 700px;
}

#contato2 {
    display: none;
    min-height: 650px;
    max-height: 700px;
}

#background {
    width: 100%;
    height: 100%;
    background-color: #354B77;
    opacity: 0.6;
    position: absolute;
}   


/* STYLE TITULO EM GERAL */
#title {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: 40px;
}

/* STYLE ICON DO TITULO */
#greenMark {
    background-color: #47C647;
    width: 5px;
    height: 35px;
    margin-top: 8px;
    z-index: 1000;
}

/* STYLE DO TITULO */
#contateNos {
    margin-left: 10px;
    margin-top: 0;
    font-size: 45px;
}

#campos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 450px;
    justify-self: flex-end;
    z-index: 1;
}

#camposDaEsquerda {
    width: 50%;
    height: 300px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
}

.esquerda {
    width: 350px;
    height: 40px;
    border-radius: 5px;
    border: 0;
    margin: 5px 0 5px 0;
    color: gray;
}

#camposDaDireita {
    width: 50%;
    height: 300px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.direita {
    width: 350px;
    height: 40px;
    border-radius: 5px;
    border: 0;
    margin: 5px 0px 5px 0px;
    color: gray;
}

#msg {
    height: 142px;
}

#enviar {
    background-color: #47C647;
    z-index: 1;
    padding: 9px 28px 9px 28px;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    color: white;
}
.enviarDiv{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    align-self: center;
}

input, textarea {
    padding-left: 10px;
}

input:focus, textarea:focus {
    /* Dar um pouco de destaque nos elementos ativos */
    border-color: black;
}

@media only screen and (max-width: 750px) {
    #contato1 {
        display: none;
    }

    #contato2 {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
    }

    #background {
        width: 100%;
        height: 100%;
        background-color: #354B77;
        opacity: 0.6;
        position: absolute;
    }   
    
    /* STYLE TITULO EM GERAL */
    #title {
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        z-index: 1;
        margin-top: 40px;
    }
    
    /* STYLE ICON DO TITULO */
    #greenMark {
        background-color: #47C647;
        width: 5px;
        height: 20px;
        margin-top: 3px;
        z-index: 1000;
    }
    
    /* STYLE DO TITULO */
    #contateNos {
        margin-left: 5px;
        margin-top: 0;
        font-size: 25px;
    }
    
    #campos {
        display: flex;
        align-items: center;
        width: 100%;
        height: 500px;
        text-align: center;
        align-self: flex-end;
        z-index: 1;
    }

    form {
        align-items: center !important;
    }

    .contato-form {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    input, textarea {
        margin-left: 10px;
    }

    input:focus, textarea:focus {
        /* Dar um pouco de destaque nos elementos ativos */
        border-color: gray;
    }
    
     #camposDaEsquerda {
        width: 100%;
        height: auto;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 100px;
        /* align-content: right; */
        left: 0;
    }
     
    .esquerda {
        width:90%;
        height: 35px;
        border-radius: 5px;
        border: 0;
        margin: 5px 5px 5px 5px;
        color: gray;
    }
    
    #camposDaDireita {
        width: 50%;
        height: auto;
        z-index: 1;
        display: flex;
        flex-direction: column;
        top: 100px;
        align-content: right;
        right: 0;
    }
    
    .direita {
        width: 90%;
        height: 35px;
        border-radius: 5px;
        border: 0;
        margin: 5px 5px 5px 5px;
        color: gray;
    }
    
    #msg {
        height: 146px;
    }
    
    .enviarDiv {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #enviar {
        background-color: #47C647;
        z-index: 1;
        padding: 9px 28px 9px 28px;
        border: 0;
        border-radius: 5px;
        font-size: 18px;
        color: white;
    }
    
}