@font-face {
    font-family: BaronNeue;
    src: url(../fonts/Baron\ Neue/Baron\ Neue.otf);
}

@font-face {
    font-family: oratorSTD;
    src: url(../fonts/OratorStd.otf);
}

:root {
    --fontGeral:  oratorSTD, sans-serif;
}
/*mvv*/
#sobreNosTudoMVV{
    margin: 0;
    color: white;
    font-family: var(--fontGeral);
    /* 'Franklin Gothic', sans-serif; */
    height: 100%;
    width: 100%;
    background-color: #354B77;
}
/* STYLE DIV GERAL */
#sobreNos1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sobreNos2 {
    display: none;
}

/* STYLE PARTE SUPERIOR */
.upperPart {
    width: 80%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* STYLE DO TITULO + TEXTO */
.text {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 40%;
}

/* STYLE TITULO EM GERAL */
.title {
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* STYLE ICON DO TITULO */
.greenMark {
    background-color: #47C647;
    width: 5px;
    height: 25px;
    margin-top: 8px;
    z-index: 2;
}

/* STYLE DO TITULO */
.nossaHistoria {
    margin-left: 10px;
    margin-top: 0;
    font-size: 28px;
    font-family: BaronNeue;
}

/* STYLE DO TEXTO */
.historia {
    width: 70%;
    height: 40%;
    text-align: left;
    font-size: 18px;
}

/* STYLE DA FOTO */
.photo1 img {
    width: 80%;
    height: auto;
    border-radius: 100%;
    margin-left: 30%;
    top: 0;
}

/* STYLE DA FOTO */
.photo {
    display: flex;
    text-justify: right;
    width: 50%;
}

/* STYLE MVV */
.MVV {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 5px solid #47C647;
}

/* STYLES COMUNS AOS TRÊS TÓPICOS */
/* TÓPICO */
.topic {
    font-size: 22px;
    font-family: BaronNeue;
}

/* ICONE */
.icon img {
    width: 30%;
    height: 30%;
}

/* DESCRIÇÃO */
.mensagem {
    text-align: center;
}

/* STYLE DE CADA UM */
.missao {
    width: 20%;
    height: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.visao {
    width: 20%;
    height: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.valores {
    width: 20%;
    height: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}


/* RESPOSIVIDADE (MOBILE) */
@media only screen and (max-width: 750px) {
    #sobreNos1 {
        display: none;
    }

    #sobreNos2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .photo1 img {
        width: 60%;
        height: 100%;
        border-radius: 100%;
        margin-left: 0;
        top: 0;
    }
    
    .photo1 {
        width: 100%;
        height: 100%;
        align-items: center;
    }

    /* STYLE DA FOTO */
    .photo {
        display: flex;
        text-align: center;
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }
    
    .upperPart {
        width: 80%;
        margin-top: 3%;
        margin-bottom: 3%;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .greenMark {
        background-color: #47C647;
        width: 5px;
        height: 20px;
        margin-top: 8px;
        z-index: 2;
    }

    .nossaHistoria {
        margin-left: 10px;
        margin-top: 10px;
        font-size: 20px;
    }
  
    .text {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 40%;
        align-items: center;
    }

    .historia {
        width: 70%;
        height: 40%;
        text-align: center;
        font-size: 15px;
    }
    

    .MVV {
        width: 80%;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 5px solid #47C647;
        margin: 0 10% 0 10%;
        position: 0;
    }

    .icon img {
        width: 80%;
        height: 80%;
    }

    .icon {
        width: 30%;
        height: 80%;
    }

    .topic {
        font-size: 17px;
    }

    .missao {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        margin-top: 10px;
        margin-right: 0;
    }
    
    .visao {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
    }
    
    .valores {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .descricao {
        width: 70%;
        display: flex;
        flex-direction: column;
    }

    .mensagem {
        width: 100%;
        text-align: center;
        font-size: 15px;
    }
    #mvv2-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
  }