{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>PETR-AM Jr</title>
    <meta name="description" content="Esta é a página da PETR-AM Jr; Uma empresa júnior de Manaus do ramos de energia, petróleo e gás. Situada na UFAM-Universidade Federal do Amazonas. Entre em contato conosco e conheça nossos serviços. PETR-AM">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'CSS/carousel_equipe.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'slick-1.8.1/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/slick-1.8.1/slick/slick-theme.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'CSS/sobre_nos.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'CSS/contato.css' %}">
    <link rel="shortcut icon" href="{% static 'icones/petramIcon.png' %}">
</head>
<body>
    <!--NavBar-->
    <nav id="navBar">
        <!--Divs com os grupos de links para a movimentação-->
        <div id="navBarWeb">
            <div class="navDiv navDivLogo">
                <img alt="PETR-AM logo" src="{% static "imagens/navbar/petr-amnegativasemfundo.png" %}" class="navBarLogo">
            </div>
            <div class="navDiv">
                <a href="#sobreNosTudoMVV">Sobre Nós</a>
            </div>
            <div class="navDiv">
                <a href="#equipeDivTudo">Equipe</a>
            </div>
            <div class="navDiv">
                <a href="#servicos">Serviços</a>
            </div>
            <div class="navDiv">
                <a href="#contatoTudoFinal">Contato</a>
            </div>
            <div class="navDiv navDivBlog">
                <a href="">Blog</a>
            </div>
        </div>
        <!--Navmobile-->
        <div id="navBarMobile">
            <div class="navHamClick">
                <div id="navHamBarras">
                    <div class="navBarraLaranja"></div>
                    <div class="navBarraLaranja"></div>
                    <div class="navBarraLaranja"></div>
                </div>
                
            </div>
            <div class="navHamburguer">
                <ul class="navListaLinks">
                    <li><a href="#sobreNosTudoMVV">Sobre Nós</a></li>
                    <li><a href="#equipeDivTudo">Nossa Equipe</a></li>
                    <li><a href="#servicos">Servicos</a></li>
                    <li><a href="#contatoTudoFinal">Contatos</a></li>
                </ul>
            </div>
            <div class="navDiv navDivLogo">
                <img alt="PETR-AM logo" src="{% static "imagens/navbar/PetramNome.png" %}" class="navBarLogo">
            </div>
            <!--O que vai ficar escondido-->
            <div class="navDivBlogM">
                <a href="">Blog</a>
            </div>
        </div>
    </nav>

    <!--Aqui é o banner-->
    <div id="banner">
        <!--CTA do banner-->
        <div id="bannerDivCTA">
            <div id="bannerCTADivTexto">
                <p id="bannerCTATexto">
                    Aqui ficará uma chamada da Petram para o público. 
                    Aqui ficará uma chamada da petram para o público. 
                    Aqui ficará uma chamada da Petram para o público. 
                    Aqui ficará uma chamada da petram para o público. 
                </p>
            </div>
            <div id="bannerCTABTN">
                <a href="#servicos" id="bannerCTABTNTexto">Conheça nossos serviços</a>
            </div>
        </div>
        <!--div com o inside do banner-->
        <div id="bannerGroup">
            <div class="bannerScreen" style='background-image: url("{% static "imagens/banner/banner1.jpg" %}");'>
            </div>
            <div class="bannerScreen" style='background-image: url("{% static "imagens/banner/banner2.jpg" %}");'>
            </div>
        </div>
    </div>

    <div id="sobreNosTudoMVV">

        <!-- DIV GERAL (TUDO) -->
        <div id="sobreNos1">
            <!-- DIV PARA A PARTE SUPERIOR -->
            <div class="upperPart">
                <!-- DIV DO TITULO + TEXTO -->
                <div class="text">
                    <div class="title">
                        <!-- ICONE DO TITULO -->
                        <div class="greenMark"></div>
                        <!-- TITULO -->
                        <p class="nossaHistoria">Nossa História</p>
                    </div>
                    <div class="historia">A PETR-AM é a primeira Empresa Júnior do segmento de Petróleo, Gás e Energia da região Norte. Formada e gerida por alunos de Engenharia de Petróleo e Gás da Universidade Federal do Amazonas, objetiva projetos com excelência nos resultados. Sem fins lucrativos, atuamos como um elo entre a comunidade acadêmica e empresas do ramo.</div>
                </div>
                <!-- DIV DA FOTO -->
                <div class="photo">
                    <div class="photo1">
                        <img alt="foto industria" src="{% static 'imagens/MVV/icone_editado.png' %}">
                    </div>
                </div>
            </div>

            <!-- DIV DO MVV -->
            <div class="MVV">
                <!-- DIV MISSAO -->
                <div class="missao">
                    <p class="topic">Missão</p>
                    <div class="icon">
                        <img alt="missão" src="{% static 'imagens/MVV/missao.png' %}">
                    </div>
                    <div class="mensagem">
                        <p>Promover a ligação dos alunos ao mercado de trabalho através de experiências reais, proporcionando o aprendizado prático para a formação de empreendedores e profissionais de excelência.</p>
                    </div>
                </div>
                <!-- DIV VISAO -->
                <div class="visao">
                    <p class="topic">Visão</p>
                    <div class="icon">
                        <img alt="visão" src="{% static 'imagens/MVV/visao.png' %}">
                    </div>
                    <div class="mensagem">
                        <p>Selecionar e capacitar alunos para realização de projetos, participação ativa na rede e conhecimento de mercado.</p>
                    </div>
                </div>
                <!-- DIV VALORES -->
                <div class="valores">
                    <p class="topic">Valores</p>
                    <div class="icon">
                        <img alt="valores" src="{% static 'imagens/MVV/valores.png' %}">
                    </div>
                    <div class="mensagem">
                        <p>Pró atividade<br>Compromisso com resultados<br>Transparência<br>Vontade de crescer</p>
                    </div>
                </div>
            </div>
        </div>


        <!-- DIV GERAL (TUDO) -->
        <div id="sobreNos2">
            <!-- DIV PARA A PARTE SUPERIOR -->
            <div class="upperPart">
                <!-- DIV DA FOTO -->
                <div class="photo">
                    <div class="photo1">
                        <img alt="foto industria" src="{% static 'imagens/MVV/icone_editado.png' %}">
                    </div>
                </div>
                <!-- DIV DO TITULO + TEXTO -->
                <div class="text">
                    <div class="title">
                        <!-- ICONE DO TITULO -->
                        <div class="greenMark"></div>
                        <!-- TITULO -->
                        <p class="nossaHistoria">Nossa História</p>
                    </div>
                    <div class="historia">A PETR-AM é a primeira Empresa Júnior do segmento de Petróleo, Gás e Energia da região Norte. Formada e gerida por alunos de Engenharia de Petróleo e Gás da Universidade Federal do Amazonas, objetiva projetos com excelência nos resultados. Sem fins lucrativos, atuamos como um elo entre a comunidade acadêmica e empresas do ramo.</div>
                </div>
            </div>

            <!-- DIV DO MVV -->
            <div class="MVV">
                <!-- DIV MISSAO -->
                <div class="missao">
                    <div class="icon">
                        <img alt="missão" src="{% static 'imagens/MVV/missao.png' %}">
                    </div>
                    <div class="descricao">
                        <p class="topic">Missão</p>
                        <div class="mensagem">
                            <p>Promover a ligação dos alunos ao mercado de trabalho através de experiências reais, proporcionando o aprendizado prático para a formação de empreendedores e profissionais de excelência.</p>
                        </div>
                    </div>
                </div>
                <!-- DIV VISAO -->
                <div class="visao">
                    <div class="icon">
                        <img alt="visão" src="{% static 'imagens/MVV/visao.png' %}">
                    </div>
                    <div class="descricao">
                        <p class="topic">Visão</p>
                        <div class="mensagem">
                            <p>Selecionar e capacitar alunos para realização de projetos, participação ativa na rede e conhecimento de mercado.</p>
                        </div>
                    </div>
                </div>
                <!-- DIV VALORES -->
                <div class="valores">
                    <div class="icon">
                        <img alt="valores" src="{% static 'imagens/MVV/valores.png' %}">
                    </div>
                    <div class="descricao">
                        <p class="topic">Valores</p>
                        <div class="mensagem">
                            <p>Pró atividade<br>Compromisso com resultados<br>Transparência<br>Vontade de crescer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Carrossel Equipe -->
    <div class="equipe" id="equipeDivTudo">
        <!-- DIV TÍTULO -->
        <div id="conhecaNossaEquipe">
            <div id="EgreenMark"></div>
            <p id="titulo">conheça nossa equipe</p>
        </div>
        <!-- DIV CARROSSEL -->
        <div class="carousel">
            {% for funcionario in funcionarios %}
                <!-- DIV DE CADA PESSOA -->
                <div class="pessoa">
                    <!-- DIV IMAGEM -->
                    <div class="Ephoto">
                        <img alt="foto de funcionário" src="{{funcionario.foto.url}}">
                    </div>
                    <!-- DIV NOME + FUNÇÃO -->
                    <div class="name">
                        <p class="nome">{{funcionario.nome}}</p>
                        <p class="função">{{funcionario.função}}</p>
                    </div>
                    <!-- DIV DESCRIÇÃO DA FUNÇÃO -->
                    <div class="function">
                        <p class="descricao">{{funcionario.descrição}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!--Aqui é o carrossel de serviços-->
    <div id="servicos">
        <div id="servicosDivTitulo">
            <h2 id="servicosTitulo">
                <div class="servicosBarrinha"></div>
                nossos serviços
            </h2>
        </div>
        <!--Div que receber o slick-->
        <div id="servicosGroup">
            <!--Screen-->
            {% for servico in servicos %}
            <div class="servicosScreen">
                {% if servicos.count > 3 %}
                    <div class="servicosScreenCinza"></div>
                {% endif %}
                <div class="servicosScreenDivTitulo">
                    <p class="servicosScreenTitulo">{{ servico.titulo }}</p>
                </div>
                <div class="serviçosScreenDivImg">
                    <img "imagem de serviço" class="serviçosScreenImg" src="{{servico.foto.url}}">
                </div>
                <div class="serviçosScreenDivTexto">
                    <p class ="servicosScreenTexto">{{ servico.texto }}</p>
                </div>
                <div class="servicosScreenDivBtn">
                    <button class="servicosScreenBtn">
                        <a href="#contatoTudoFinal">Contratar</a>
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!--Aqui é o contato-->
    <div id="contatoTudoFinal" style="background-image: url('{% static "imagens/contato/Trabalhadores2.jpg" %}');">
        <div id="contato1">
            <div id="title">
                <!-- ICONE DO TITULO -->
                <div id="greenMark"></div>
                <!-- TITULO -->
                <p id="contateNos">Contate-nos</p>
            </div>
            <div id="background"></div>
         <div id="campos">
                <form method="POST" name='contato' class='contato-form'>
                    {% csrf_token %}<!--Necessario para reconhecer o form-->
                    <div id="camposDaEsquerda">
                        <input class="esquerda" type="text" name="nome" placeholder="Nome*" required="required">
                        <input class="esquerda" type="text" name="phone" placeholder="Telefone">
                        <input class="esquerda" type="email" name="email" placeholder="E-mail*" required="required">
                        <input class="esquerda" type="text" name="conheceu" placeholder="Como você conheceu a PETR-AM?">
                    </div>
                    <div id="camposDaDireita">
                        <input class="direita" type="text" name="assunto" placeholder="Assunto">
                        <textarea class="direita" id="msg" name="mensagem" placeholder="Deixe-nos uma mensagem!"></textarea>  
                    </div>
                    <button id ="enviar" type="submit">ENVIAR</button>
                </form>
            </div>
        </div>

        <!-- Contato 2 -->
        <div id="contato2">
            <div id="title">
                <!-- ICONE DO TITULO -->
                <div id="greenMark"></div>
                <!-- TITULO -->
                <p id="contateNos">Contate-nos</p>
            </div>
            <div id="background"></div>
            <div id="campos">
                <form method="POST" name='contato' class='contato-form'>
                    {% csrf_token %}
                    <input class="esquerda" type="text" name="nome" placeholder="Nome*" required="required">
                    <input class="esquerda" type="text" name="phone" placeholder="Telefone">
                    <input class="esquerda" type="email" name="email" placeholder="E-mail*" required="required">
                    <input class="esquerda" type="text" name="conheceu" placeholder="Como você conheceu a PETR-AM?">
                    <input class="direita" type="text" name="assunto" placeholder="Assunto">
                    <textarea class="direita" id="msg" name="mensagem" placeholder="Deixe-nos uma mensagem!"></textarea>  
                    <button id ="enviar" type="submit">ENVIAR</button>
                </form>
            </div>
        </div>
    </div>

    <!--Footer-->
    <footer id="footer">
        <!--Esse é o grupo que ficam as coisas de cima do footer-->
        <div id="footerGrupoCima">
            <div id="footerConjunto">
                    <!--Telefone-->
                    <div class="footerIconText">
                        <img alt="telefone" src="{% static "imagens/footer/call-answer.svg" %}">
                        <p class="footerTexto">+55 (92) 98230-9545</p>
                    </div>
                    <!--Email-->
                    <div class="footerIconText">
                        <img alt="email" src="{% static "imagens/footer/mail.svg" %}">
                        <p class="footerTexto">ej.petram@gmail.com</p>
                    </div>
                    <!--Instagram-->
                    <div class="footerIconText footerIT">
                        <a href="https://www.instagram.com/petramjr/" target="_blank" class="footerLinkImg">
                            <img alt="instagram" src="{% static "imagens/footer/instagram.svg" %}">
                        </a>
                        <a href="https://www.instagram.com/petramjr/" target="_blank" class="footerLT">
                            <p class="footerTexto">petramjr</p>
                        </a>
                    </div>
                    <!--Linkedin-->
                    <div class="footerIconText footerIT">
                        <a href="https://www.linkedin.com/company/petr-am/" target="_blank" class="footerLinkImg">
                            <img alt="linkedin" src="{% static "imagens/footer/linkedin.svg" %}">
                        </a>
                        <a href="https://www.linkedin.com/company/petr-am/" target="_blank" class="footerLT">
                            <p class="footerTexto">petr-am</p>
                        </a>
                    </div>
                </div>

                <!--Imagem da PETR-AM-->
                <div id="footerDivLogo">
                    <img alt="PETR-AM logo" src="{% static "imagens/footer/petr-amsemfundo.png" %}" id="footerLogo">
                </div>

                <!--Div que vai ter o maps-->
                <div id="footerMaps">
                    <div id="footerMapsDT">
                        <p class="footerTexto">UFAM - Av. General Rodrigo Octavio Jordão Ramos, 1200. Coroado I, Manaus/AM. 69067-005</p>
                    </div>
                    <div id="footerMap">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9475.55098205994!2d-59.978038728320456!3d-3.10039142377996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x926c052af27c2365%3A0x1d25daa968addbd5!2sUFAM+-+Universidade+Federal+do+Amazonas!5e0!3m2!1spt-BR!2sbr!4v1542848433813" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
        </div>
        
        <!--Grupo de baixo do footer-->
        <div id="footerGrupoBaixo">
            <!--Linha que separa o grupo de baixo do de cima-->
            <hr id="footerLinha">
            <!--copyRight-->
            <div class="footerDivTexto" id="footer1DT">
                <p class="footerTexto">Copyright © 2019 Petr-AM</p>
            </div>
            <!--Made with-->
            <div class="footerDivTexto" id="footer2DT">
                <p class="footerTexto">Made with &lt/&gt and </p>
                <img alt="amor" src="{% static "imagens/footer/heart.svg" %}" id="footerHeart">
            </div>
        </div>
    </footer>

    <!--JQuery-->
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <!--Slick-->
    <script type="text/javascript" src="{% static 'slick-1.8.1/slick/slick.min.js' %}"></script>
    <!--Slick banner aqui-->
    <script type="text/javascript">
        $(document).ready(function(){
            $('#bannerGroup').slick({
                nextArrow: '<button type="button" id="bannerNext"><img alt="próximo" id="bannerSetaR" src="{% static "imagens/banner/sNext.svg" %}"></div></button>',
                prevArrow: '<button type="button" id="bannerPrev"><img alt="anterior" id="bannerSetaL" src="{% static "imagens/banner/sPrev.svg" %}"></button>',
                infinite: true,
                autoplay: true,
                autoplaySpeed: 3000
            });
        });
    </script>
    <!--Slick Servicos aqui-->
    <script type="text/javascript">
        $(document).ready(function(){
            $('#servicosGroup').slick({
                nextArrow: '<button type="button" id="servicosNext"><img alt="próximo" id="servicosSetaR" src="{% static "imagens/servicos/sNext.svg" %}"></button>',
                prevArrow: '<button type="button" id="servicosPrev"><img alt="anterior" id="servicosSetaL" src="{% static "imagens/servicos/sPrev.svg" %}"></button>',
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                centerMode: true,
                draggable: false,
                responsive: [
                    {
                        breakpoint: 751,
                        settings:{
                            slidesToShow: 1,
                            nextArrow: '<button type="button" id="servicosNext"><img alt="próximo" id="servicosSetaR" src="{% static "imagens/servicos/sNext.svg" %}"></button>',
                            prevArrow: '<button type="button" id="servicosPrev"><img alt="anterior" id="servicosSetaL" src="{% static "imagens/servicos/sPrev.svg" %}"></button>',
                            infinite: true,
                            slidesToScroll: 1,
                            centerMode: true,
                            draggable: false,
                            centerPadding: '20px'
                        }
                    }
                ]
            });
        });
    </script>
    <!--Script das coisas gerais-->
    <script type="text/javascript" src="{% static 'scripts/main.js' %}"></script>
    <!--Script carrossel equipe-->
    <script type="text/javascript" src="{% static 'scripts/carousel_equipe.js' %}"></script>
</body>
</html>