:root{
    margin: 0;
    --footerCorBorda: #878787;
    --footerCor: #1A3160;
    --fontGeral:  'Franklin Gothic', sans-serif;
    --navColor: #354B77;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    margin: 0;
    align-items: flex-start;
    flex-wrap: wrap;
}
/*Aqui estão as coisas da navBar*/
#navBar{
    width: 100%;
    height: 15vh;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 10;
    background-color: var(--navColor);
    opacity: 0.93%;
}
/*Conjunto com as coisas da navbar*/
#navBarConjunto{
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
/*pequenos grupos da navBar(um para cada link)*/
.navDiv{
    width: 10%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*links da navBar*/
.navDiv a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: var(--fontGeral);
}
/*div do blog na nav*/
#navDivBlog{
    background-color: #DA802B;
    border-radius: 4px 4px 4px 4px;
}
#navDivBlog a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*div com a logo da petram na navbar*/
#navDivLogo{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
}
/*logo da petram na navbar*/
#navBarLogo{
    width: 75%;
    height: auto;
}



/*Aqui estão as coisas do footer*/
#footer{
    height: 35vh;
    width: 100%;
    background-color: var(--footerCor);
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px 10px 0px 0px;

}
/*Aqui é o grupo com a parte de cima do footer*/
#footerGrupoCima{
    width: 80%;
    height: 80%;
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Grupo com as IconText*/
#footerConjunto{
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
}
/*Conjunto com o icon e o texto das redes sociais*/
.footerIconText{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: baseline;
}
/*Icones do footer*/
.footerIconText img{
    width: 10%;
    height: 75%;
    margin-right: 5%;
}
/*Para aquelas imagens do footer como instagram e linkedin*/
.footerLinkImg{
    width: 10%;
    height: 75%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerLinkImg img{
    width: 100%;
    height: 100%;
    margin: 0;
}

/*Div onde se encontra o logo da PETR-AM no footer*/
#footerDivLogo{
    width: 30%;
    height: 90%;
    display: flex;
    align-items: center;
}
/*imagem do logo da PETR-AM*/
#footerLogo{
    width: 100%;
    height: auto;
}
/*Div com o maps e o texto*/
#footerMaps{
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Texto do Maps*/
#footerMapsDT{
    width: 100%;
    height: 30%;
}

/*Div Imagem do maps*/
#footerMap{
    width: 100%;
    height: 70%;
}
/*O mapa propriamente dito*/
#footerMap iframe{
    width: 100%;
    height: 100%;
}
/*Texo do endereco*/
#footerMapsDT .footerTexto{
    width: 100%;
    font-size: 14px;
}


/*Parte debaixo do footer*/
/*Aqui é o grupo com a parte de baixo do footer*/
#footerGrupoBaixo{
    width: 100%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
/*Linha do footer que separa o GrupoCima do GrupoBaixo*/
#footerLinha{
    width: 100%;
    height: 0;
    margin: 0;
    border: 1px 0px 0px 0px;
    border-color: var(--footerCorBorda);
    border-style: solid;
    
}
/*Div com o texto do footer*/
.footerDivTexto{
    width: 30%;
    height: 70%;
    display: flex;
}
/*Colocando as margens no grupo de baixo do footer*/
#footer1DT{
    margin-left: 10%;
}
#footer2DT{
    margin-right: 10%;
    justify-content: flex-end;
}
/*Texto do footer*/
.footerTexto{
    margin: 0;
    color: white;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-family: var(--fontGeral);
}
/*removendo as linhas dos links*/
footer a{
    text-decoration: none;
}

/*Coração do code no footer*/
#footerHeart{
    height: 70%;
    width: auto;
    margin-left: 2%;
    align-self: center;
    fill: white;
}



/*Responsividade*/
@media(max-width: 1060px){
    /*Texto do Maps*/
    #footerMapsDT{
        height: 25%;
    }

    /*Div Imagem do maps*/
    #footerMap{
        height: 75%;
    }
    /*textos do div*/
    .footerTexto{
        font-size: 20px;
    }
    #footerMapsDT .footerTexto{
        font-size: 12px;
    }
}
@media(max-width: 986px){
    /*divs dos links da nav*/
    .navDiv{
        width: 12%;
    }
    /*texto para links da nav*/
    #navBarConjunto{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
    #footerMapsDT{
        height: 20%;
    }

    /*Div Imagem do maps*/
    #footerMap{
        height: 80%;
    }
    /*Texo do endereco*/
    #footerGrupoCima{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
    /*parte de baixo do footer*/
    #footer1DT{
        margin-left: 5%; 
    }
    #footer2DT{
        margin-right: 5%; 
    }
}
@media(max-width: 965px){
    #footerMapsDT{
        height: 25%;
    }
    /*Div Imagem do maps*/
    #footerMap{
        height: 75%;
    }
}
@media(max-width: 880px){
    /*textos do footer*/
    .footerTexto{
        font-size: 18px;
    }
    /*texto do endereço*/
    #footerMapsDT .footerTexto{
        font-size: 12px;
    }
    
}
@media(max-width: 750px){
    #footerMapsDT{
        height: 15%;
    }

    /*Div Imagem do maps*/
    #footerMap{
        height: 85%;
    }
    /*O footer todo*/
    #footer{
        height: 75vh;
    }
    /*parte de cima do footer*/
    #footerGrupoCima{
        height: 85%;
        flex-direction: column;
    }
    /*div com os icones*/
    #footerConjunto{
        width: 90%;
        height: 20%;
        order: 2;
        flex-wrap: wrap;
    }
    /*classe com os icones e texto do footer*/
    .footerIconText{
        width: 60%;
        height: 45%;
    }
    /*os dois ultimos icones*/
    .footerIT{
        justify-content: flex-end;
        align-items: center;
        width: 40%;
    }
    /*classe para fixar tamanho dos textos dos links*/
    .footerLT{
        width: 43.75%;
    }
    /*ajeitando as imagens dos icones footer*/
    .footerIconText img{
        width: 10%;
        height: 60%;
    }
    .footerLinkImg{
        width: 10%;
        height: 60%;
        margin-right: 5%;
    }
    .footerLinkImg img{
        width: 100%;
        height: 100%;
        margin: 0;
    }
    /*div com a logo*/
    #footerDivLogo{
        width: 100%;
        order: 1;
        height: 35%;
        justify-content: center;
    }
    /*imagem da logo*/
    #footerLogo{
        height: auto;
        width: 60%;
    }
    /*div com tudo do maps*/
    #footerMaps{
        width: 60%;
        height: 53%;
        margin-bottom: 2%;
        order: 3;
    }
    /*legenda do maps*/
    #footerMapsDT .footerTexto{
        font-size: 14px;
    }
    /*parte de baixo do footer*/
    #footerGrupoBaixo{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 15%;
    }
    /*div com texto da parte de baixo do footer*/
    .footerDivTexto{
        width: 80%;
        height: 30%;
        align-items: center;
        justify-content: center;
    }
    /*copyright*/
    #footer1DT{
        margin: 2% 0 0 0;
    }
    /*made with + <3*/
    #footer2DT{
        margin: 0;
        align-items: center;
        justify-content: center;
    }
    /*texto geral do footer*/
    .footerTexto{
        font-size: 18px;
    }
}
@media(max-width: 565px){
    #footerLogo{
        height: auto;
        width: 60%;
    }
    #footerMapsDT .footerTexto{
        font-size: 12px;
    }
}
@media(max-width: 482px){
    #footerMapsDT{
        height: 20%;
    }

    /*Div Imagem do maps*/
    #footerMap{
        height: 80%;
    }
}
@media(max-width: 440px){
    #footerMapsDT{
        height: 15%;
    }

    /*Div Imagem do maps*/
    #footerMap{
        height: 85%;
    }
    /*tudo do map*/
    #footerMaps{
        width: 75%;
    }
    /*a logo do footer*/
    #footerLogo{
        height: auto;
        width: 80%;
    }
    /*icones do footer*/
    .footerLT{
        width: 56.25%;
    }
    .footerTexto{
        font-size: 16px;
    }
}
@media(max-width: 386px){
    #footerMapsDT{
        height: 20%;
    }

    /*Div Imagem do maps*/
    #footerMap{
        height: 80%;
    }
    .footerTexto{
        font-size: 14px;
    }
}
@media(max-width: 365px){
    /*legenda do map*/
    #footerMapsDT .footerTexto{
        font-size: 12px;
    }
    /*textos do footer*/
    
}
@media(max-width: 322px){
    /*textos do footer*/
    .footerTexto{
        font-size: 14px;
    }
    #footerConjunto{
        width: 100%;
    }
}
/*iphone 5*/
@media(max-width: 321px) and (min-width: 320px) and (max-height: 569px) and (min-height: 568px){
    #footerMapsDT{
        height: 25%;
    }

    /*Div Imagem do maps*/
    #footerMap{
        height: 75%;
    }
}
/*iphoneX*/
@media(max-width: 376px) and (min-width: 375px) and (max-height: 813px) and (min-height: 812px){
    .footerTexto{
        font-size: 16px;
    }
    #footerMapsDT .footerTexto{
        font-size: 14px;
    }
}
/*iPad*/
@media(max-width: 769px) and (min-width: 768px) and (max-height: 1025px) and (min-height: 1024px){
    .footerTexto{
        font-size: 18px;
    }
    #footerMapsDT .footerTexto{
        font-size: 14px;
    }
}
/*iPad Pro*/
@media(max-width: 1025px) and (min-width: 1024px) and (max-height: 1367px) and (min-height: 1366px){
    #footerMapsDT{
        height: 15%;
    }

    /*Div Imagem do maps*/
    #footerMap{
        height: 85%;
    }
    .footerTexto{
        font-size: 18px;
    }
    #footerMapsDT .footerTexto{
        font-size: 14px;
    }
}
@media(max-width: 290px){
    /*textos do footer*/
    .footerTexto{
        font-size: 12px;
    }
    /*legenda do mapa*/
    #footerMapsDT .footerTexto{
        font-size: 10px;
    }
}